/*color del encabezado*/
.encabezado-google{
    background-color: #f1f1f1;
}

/*estilo del logo google en el encabezado*/
.encabezado-google .logo{
    height: 36px;
    width: 112px;
    margin-top: 20px; 
    margin-left: 20px;
}

/*estilo del boton en el encabezado*/
.encabezado-google .btn-primary{
    margin-top: 17px;
    margin-right: 20px;
    float: right;
}

/*Para el encabezado: Crea tu centa google*/ 
h1{
    text-align: center;
    font-family: 'Open Sans', arial;
    color: #555;
    font-size: 38px;
    font-weight: 300;
    margin-top: 27px;
    margin-bottom: 50px;
}

/*Para el texto debajo de la imagnes */
.container p{
    text-align: center;
    font-family: 'Open Sans', arial;
    color: #737373;
    font-size: 13px;
    margin-bottom: 30px;
}

/*imagen de las apps de google*/
.container .logo-strip{
    margin-top: 20px;
}

/*imganes de los dispositivos*/
.container .devices{
    margin-top: 30px;
    margin-bottom: 20px;
}

/*modifica el tamaño de la caja "gris" que contiene al formulario*/
.container .formulario{
    box-sizing: border-box;
    border-radius: 0;
    background-color: #f1f1f1;
    width: 400px;
    height: 600px;
    padding: 25px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
}

/*es para los h2 que estan encima de las imagenes apps google y los dispositivos*/
.container .side-info h2{
    text-align: center;
    font-family: 'Open Sans', Arial;
    color: #737373;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

/*le da tamaño a correo y las contraseñas*/
.container .formulario .in{ 
    width: 100%;
}

.container #txt-nombre{
    width: 100%;
}

.container #txt-apellido{
    margin-left: 0px;
    margin-right: 5px;
    width: 100%;
}

.container  label{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}

/*modifica los inputs de la fecha*/
.container #dia{
    margin: 5px 5px;
    border-radius: 0;
    padding: 1px;
    height: 35px;
}

.container #mes{
    margin: 5px 5px;
    border-radius: 0;
    padding: 1px;
    height: 35px;
}

.container #agno{
    margin: 5px 5px;
    border-radius: 0;
    padding: 1px;
    width: 95px;
    height: 35px;
}
/*aqui termina la modificacion del input de la fecha*/